name=test

stl=./stl/batarang.stl
scale=1.0
stl=./stl/youtube.stl
scale=10.0
stl=./stl/harry_potter.stl
scale=0.25
stl=./stl/overwatch.stl
scale=5.0
stl=./stl/usb.stl
scale=4.0

width=500
height=300

# Random generator seeding
# (0=static, 1=time-based)
seedType=1
seed=222223

# Termination test
# (0=evals, 1=gens, 2=best unchanged)
termTest=2
termTarget=150

mu=50
lambda=25

parentSelTournSize=25
survivorSelTournSize=25

crossovers=2

# (0=random reset, 1=creep)
mutationType=1
mutationRate=1.00
creepDist=20

rotationalRestriction=90

evals=10000
runs=5
